@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d23369;
  --secondary: #212d74;
  --background-dark:#0b0f27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background-dark: var(--background-dark);

}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
